body {
    position: absolute;
    top: 50%;
    left: 50%;
}

.keyboard {
    height: 2cm;
    width: 2cm;
    outline-color: tomato;
    position: relative;
    left: 25%
}

button {
    font-size: 0.5rem;
    padding: 0px;
    margin: 0px;
}